@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
}

.header .container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  margin-right: 30px;
}

.nav {
  display: flex;
}

.nav a {
  display: block;
  height: 80px;
  margin: 0 50px;
  font-size: 14px;
  color: #4f4f4f;
  line-height: 80px;
  padding: 0;
}
/* 메인 슬라이드 */

.main_slide {
  position: relative;
}

.slide_01 {
  padding-top: 30px;
}

.slide_01 .item {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide_01 .item_01 {
  background-image: url(../images/main_slide/slide1.png);
}

.slide_01 .item_02 {
  background-image: url(../images/main_slide/slide2.png);
}

.slide_01 .item_03 {
  background-image: url(../images/main_slide/slide3.png);
}

.slide_01 .item_04 {
  background-image: url(../images/main_slide/slide4.png);
}

.slide_01 .item_05 {
  background-image: url(../images/main_slide/slide5.png);
}

.slick-dots {
  bottom: 15px;
}

.main_slide .slick-dots li {
  background: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.main_slide .slick-dots li.slick-active {
  background: #233d85;
}

.main_slide .slick-dots li button:before {
  display: none;
}

.arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 60px;
}

.arrow i {
  color: #fff;
  cursor: pointer;
}
